{{/* gotype: entgo.io/ent/entc/gen.Graph */}}

{{ define "pagination" }}

{{ $pkg := replace $.Config.Package "internal/ent" "app/model" }}
{{ template "header" $ }}

import (
    "context"

    "{{ $pkg }}"
)

{{ range $n := $.Nodes }}
{{ $client := print $n.Name "Client" }}

{{ $builder := $n.QueryName }}
{{ $receiver := receiver $builder }}

// Pagination returns pagination query builder for {{ $builder }}.
func ({{ $receiver }} *{{ $builder }}) Pagination(req model.PaginationReq) *{{ $builder }} {
    {{ $receiver }}.Offset(req.GetOffset()).Limit(req.GetLimit())
	return {{ $receiver }}
}

// PaginationItems returns pagination query builder for {{ $builder }}.
func ({{ $receiver }} *{{ $builder }}) PaginationItemsX(req model.PaginationReq) any {
    return {{ $receiver }}.Pagination(req).AllX(context.Background())
}

// PaginationResult returns pagination for {{ $builder }}.
func ({{ $receiver }} *{{ $builder }}) PaginationResult(req model.PaginationReq) model.Pagination {
    query := {{ $receiver }}.Clone()
    query.order = nil
    var result []struct{
        Count int `json:"count"`
    }
    query.Modify(func(s *sql.Selector) {
        s.SelectExpr(sql.Raw("COUNT(1) AS count"))
    }).ScanX(context.Background(), &result)
    total := result[0].Count
	return model.Pagination{
	    Current: req.GetCurrent(),
        Pages:   req.GetPages(total),
	    Total:   total,
	}
}

{{ end }}
{{ end }}
