{{/* gotype: entgo.io/ent/entc/gen.Graph */}}

{{ define "table" }}

{{ template "header" $ }}

{{ range $n := $.Nodes }}

{{ if ne $n.Name "Permission" }}

{{ $receiver := $n.Receiver }}

// GetTableName returns table name for {{ $n.Name }}.
func ({{ $receiver }} *{{ $n.Name }}) GetTableName() string {
    return "{{ $n.Table }}"
}

// GetID returns id for {{ $n.Name }}.
func ({{ $receiver }} *{{ $n.Name }}) GetID() string {
    return {{ $receiver }}.ID
}

{{ if containsField $n.Fields "name" }}
func ({{ $receiver }} *{{ $n.Name }}) GetName() string {
    return {{ $receiver }}.Name
}
{{ end }}

{{ end }}
{{ end }}
{{ end }}
